* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-font: 'Itim', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}
.container__face {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}
.face {
    border-radius: 50%;
    height: 325px;
    width: 325px;
    min-height: 200px;
    min-width: 200px;
}
.container__select {
    height: fit-content;
    width: 100%;
    padding: 0 16px 64px 16px;
}
.select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40%);
    gap: 16px;
}
.container__random-face {
    grid-column: 1/3;
    grid-row: 1/2;
}
.container__select-button {
    grid-column: 1/2;
    grid-row: 2/3;
}
.container__update {
    grid-column: 2/3;
    grid-row: 2/3;
}

.select-Button, .update, .random-face {
    display: flex;
    place-content: center;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-family: var(--primary-font);
    font-size: 16px;
    text-align: center;
    color: cornsilk;
    height: fit-content;
    width: 100%;
}

/* small landscape styles */
@media (min-width: 740px) and (orientation: landscape) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
        gap: 16px;
    }
    .container__face {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
    }
    .face {
        height: 270px;
        width: 270px;
    }
    .container__select {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .select {
        display: grid;
        grid-template-columns: 50% 23.5% 23.5%;
        grid-template-rows: 100%;
        padding: 0 16px;
        gap: 8px;
        height: 100%;
        width: 100%;
    }
    .select-Button, .update, .random-face {
        font-size: 16px;
        padding: 10px 0rem;
        height: fit-content;
        width: 100%;
    }
    .container__random-face {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .container__select-button {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .container__update {
        grid-column: 3/4;
        grid-row: 1/2; 
    }
}

/* medium portrait styles */
@media (min-width: 768px) {
    .container__face {
        height: 80%;
    }
    .face {
        height: 550px;
        width: 550px;
    }  
    .container__select {
        padding: 0 32px 48px 32px;
    }
    .select-Button, .update, .random-face {
        font-size: 18px;
        padding: 16px;
        height: 100%;
    } 
}

/* medium portrait landscape styles */
@media (min-width: 768px)  and (orientation: landscape) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .container__face {
        height: 80%;
    }
    .face {
        height: 550px;
        width: 550px;
    }
    .container__select {
        padding: 0 32px;
        height: 20%;
    }
    .select {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40%);
        gap: 16px;
    }
    .container__random-face {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .container__select-button {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .container__update {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .select-Button, .update, .random-face {
        font-size: 18px;
        padding: 16px 0;
        height: fit-content;
        width: 100%;
    } 
}

/* large styles */
@media (min-width: 1200px) {
    .container__face {
        height: 80%;
    }
    .face {
        height: 550px;
        width: 550px;
        margin: 0;
        margin-top: 8px;
    } 
    .container__select {
        height: 20%;
    }
    .select {
        gap: 16px;
        max-width: 1500px;
    }
    .select-Button, .update, .random-face {
        font-size: 24px;
        padding: 8px 0;
        height: 100%;
    } 
}

.random-face {
    background-color: rgb(36, 194, 175);
    color: darkslategrey;
}
.random-face:hover {
    background-color: rgb(32, 112, 141);
    color: cornsilk;
}

.select-Button {
    background-color: rgb(241, 115, 136);
}
.select-Button:hover {
    background-color: rgb(224, 73, 99);
}

.update{
    background-color: hsl(27, 86%, 52%);
}
.update:hover {
    background-color: rgb(224, 104, 5);
}